AIRFLOW_USER=your_airflow_user
AIRFLOW_PWD=your_airflow_password
FERNET_KEY=replace_with_fernet_key

CLICKHOUSE_DB=your_clickhouse_db
CLICKHOUSE_USER=your_clickhouse_user
CLICKHOUSE_PWD=your_clickhouse_password
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_HTTP_PORT=8123

POSTGRES_EXTERNAL_PORT=5433
POSTGRES_DB=your_postgres_db

AIRFLOW_FIRSTNAME=Your
AIRFLOW_LASTNAME=Name
AIRFLOW_ROLE=Admin
AIRFLOW_EMAIL=your_email@example.com

MINIO_HOST=minio:9000
MINIO_USER=your_minio_user
MINIO_PWD=your_minio_password
BLUESKY_HANDLE=your_handle.bsky.social
BLUESKY_APP_PASSWORD=your_bluesky_app_password
