[user]
	name = krish007code
	email = kavyanshkumarbaghel@gmail.com
[credential]
	helper = "!f() { /dbt/.vscode-server/bin/8a7abeba6e03ea3af87bfbce9a1b7e48fed567b8/node /tmp/vscode-remote-containers-dcb5febb-7784-40cd-91eb-51d392e25b68.js git-credential-helper $*; }; f"
